* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #32a093 0%,
        #32a093 15%,
        #dee0da 15%,
        #dee0da 100%
    );

    display: flex;
    justify-content: center;
    align-items: center;
}

/* UTILITIES */
.d-flex {
    display: flex;
}

.d-inFlex {
    display: inline-flex;
}

.fsize-10 {
    font-size: 10px;
}

.fsize-12 {
    font-size: 12px;
}

.c-grey {
    color: #bfc2c4;
}

.c-light-grey {
    color: #bababa;
}

.c-dark-grey {
    color: #777e82;
}

.avatar-1 {
    width: 40px;
    border-radius: 50%;
    margin: 0 10px;  
} 

.text-right {
    text-align: right;
}

.nome-contatto {
    font-weight: 700;
}

/* LAYOUT */
.container {
    width: 80%;
    min-width: 900px;
    height: 95%;
    background: #fff;
}

/* SIDEBAR */
.sidebar {
    flex-basis: 35%;
}

/* notifiche */
.notifiche {
    padding: 10px;
    background: #a2dffe;
    align-items: center;
}

.notifiche > a {
    background: #f5fcff;
    border-radius: 50%;
    padding: 10px;
    color: #a2dffe;
    font-size: 20px;
    margin-right: 15px;
}

/* search */
.search {
    padding: 5px;
    background: #fbfbfb;
    position: relative;
}

.search a {
    position: absolute;
    position: absolute;
    top: 7px;
    padding: 0 20px;
    border-right: 1px solid;
    height: 22px;
}

.search input {
    height: 23px;
    width: 100%;
    padding-left: 65px;
    border-radius: 3px;
    border: 1px solid #bfc2c4;
}

/* lista contatti */
.contact {
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #bfc2c4;
    cursor: pointer;
}

.contacts img {
    width: 50px;
    border-radius: 50%;
    margin: 10px 20px;  
} 

.contacts .contact:last-child {
    border-bottom: none;
}

.contact:hover {
    background-color: #bababa;
}

.contact.active {
    background-color: #777e82;
}

/* MAIN CONTENT*/
.content {
    flex-basis: 65%;
    background-image: url(../img/mine.jpg);
    flex-direction: column;
}

.content-header, 
.content-footer,
.header-sidebar {
    height: 50px;
    background-color: #ededed;
    justify-content: space-between;
    align-items: center;
}

.content-header, 
.content-footer {
    border-left: 1px solid #bfc2c4;
}

.content-main {
    flex-grow: 1;
    padding: 30px 60px;
}

.content-footer {
    background-color: #f4f0ed;
}

/* content-header */
.header-left {
    align-items: center;
}

.header-right ul {
    list-style: none;
}

.header-right ul li {
    margin-right: 15px;
}

.header-right ul li a {
    cursor: pointer;
}

/* chat */
.chat {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.msg {
    padding: 10px;
    border-radius: 10px;
    width: 45%;
    margin-bottom: 10px;
} 

.msg.sent {  
    background: #ddfabf; 
    align-self: flex-end;
}

.msg.received {
    background: #fff;   
}

/* content-footer */
.content-footer i {
    margin: 0 30px;
}

.content-footer input {
    flex-grow: 1;
    padding: 13px;
    border: none;
    border-radius: 5px
}

.content-footer input:focus {
    outline: none;
}

